.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;

  div {
    box-sizing: content-box;

    div {
      position: absolute;
      border-radius: 50%;
    }

    div:nth-child(1) {
      top: 30px;
      left: 30px;
      width: 140px;
      height: 140px;
      background: #93dbe9;
    }

    div:nth-child(2) {
      top: 39px;
      left: 79px;
      width: 42px;
      height: 42px;
      background: #689cc5;
      animation: loading 1s linear infinite;
      transform-origin: 21px 60px;
    }
  }
}

.loadSpinner {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: transparent;
}

@keyframes loading {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg)
  }
}
