.card {
  background-color: #68BEEC;
  border-radius: 15px;
  overflow: hidden;
  padding-bottom: 20px;
  max-width: 380px;
}

.img {
  width: 380px;
  height: 240px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.title {
  h2 {
    font-size: 2.4rem;
    line-height: 1.2em;
    padding: 20px 0 31px 20px;
  }
}

.button {
  width: 100%;
  text-align: center;
  padding: 5px 0;

  span {
    font-size: 2.4rem;
    line-height: 1.2em;
  }
}
