.main {
  flex: 1 1 100%;
}

.wrapper {
  max-width: 1240px;
  margin: 55px auto;
  padding: 0 20px;
}

.list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  column-gap: 20px;
  row-gap: 40px;
  flex-wrap: wrap;
}

@media (max-width: 819px) {
  .list {
    justify-content: center;
  }
}

